<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mStocksDb" connectionString="data source=172.17.0.1,1433; initial catalog=StocksDb; user id=SA; password=MademoisellePoe01!; MultipleActiveResultSets=True; TrustServerCertificate=True;" />
  </connectionStrings>
  <JwtSettings>
    <TokenKey>QyjLePRjyQiUWVu5WeTBCc5dBLFLcvZnthJ9qo0hTodcyRVxuoMtyXZ4tuy6poZg</TokenKey>
  </JwtSettings>
</configuration>
